{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Site communautaire SnowTricks</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sequi rem dolor iste suscipit commodi nobis aliquam ut nisi placeat aliquid beatae, repudiandae illum? 
        Impedit error fugit suscipit accusantium doloribus consequuntur deleniti aliquid enim eum officiis. Provident eum quos voluptate totam itaque est magnam? Unde mollitia iure 
        suscipit fugiat voluptas.</p>
    </div>
    <div class="container">
        <h2>Les dernières figures</h2>
        <div class="row">
            {%for figure in figures %}
                <div class="col-md-3">
                    <a href="{{ path('home_show', {'id': figure.id}) }}">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ figure.nom }}</h5>
                            </div>
                            {% if '.jpeg' in figure.ImageUne %}
                                <img src="{{ asset('uploads/' ~ figure.ImageUne) }}" class="responsive-card">
                            {% else %}
                                <img src="{{ figure.ImageUne }}" class="responsive-card">
                            {% endif %}    
                            <div class="card-footer text-muted">
                                le {{ figure.ajoutAt | date('d/m/Y') }}
                            </div>
                        </div>
                    </a>
                </div>   
            {% endfor %}
        </div>    
    </div>
{% endblock %}
