{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/show.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>{{ figure.nom }}</h1>
    <div>
        <img classe="image_une" src="{{ asset('uploads/' ~ figure.ImageUne) }}">
    </div>
    <br>
        {%for image in figure.media %}
            <div class="responsive">
                <div class="gallery">
                    <a href="{{ asset('uploads/' ~ image.url) }}" target="_blank"><img src="{{ asset('uploads/' ~ image.url) }}" class="galerie"></a>
                    <div class="desc">description de l'image</div>
                </div>
            </div>
        {% endfor %}
    <div class="clearfix"></div>
    <div>
        {{ figure.description | raw }}
    </div>
    <hr>
   <ol class="breadcrumb">
        <li class="breadcrumb-item">dans le groupe {{ figure.groupe.nom}}</li>
        <li class="breadcrumb-item">Ajouté le {{ figure.ajoutAt | date('d/m/Y') }} à {{ figure.ajoutAt | date('H:i') }}</li>
        {% if figure.modifAt %}
            <li class="breadcrumb-item">Modifié le {{ figure.modifAt | date('d/m/Y') }} à {{ figure.modifAt | date('H:i') }}</li>
        {% endif %}   
    </ol>
    <section id="commentaires">
        {% for comment in figure.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.user.username }}
                </div>
                <div class="col">
                    {{ comment.content | raw }}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}