{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('css/create.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Edition d'une Figure</h1>

    {{ form_start(formFigure) }}
        {{ form_row(formFigure.nom) }}
        {{ form_row(formFigure.image_une) }}
        {{ form_row(formFigure.description) }}
        {{ form_row(formFigure.groupe) }}
        {{ form_row(formFigure.media) }}
    {{ form_end(formFigure)}}

    <form method="post" action="{{ path('figure_delete', {id: figure.id}) }}" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>

</div>
{% endblock %}

